In [18]:
import pandas as pd
import numpy as np
import json
from urllib.request import urlopen
from bs4 import BeautifulSoup

#https://www.cbc.ca/cxense/v1/search?q=murder%20toronto&sortOrder=date&section=news&page=1&fields=feed

hoods_df = pd.read_csv("tor_neighbourhoods.csv")

base = "https://www.cbc.ca/cxense/v1/search?q=murder%20"
params = "&sortOrder=date&section=news&fields=feed&page="
page = 1

colnames = ['id','title','date','desc','image','url','neighbourhood']
cbc_df = pd.DataFrame(columns=colnames)
news_dtl = {}

hoods_df

     number                   neighbourhood name
0         0                              toronto
1         1             west%20humber-clairville
2         2  mount%20olive-silverstone-jamestown
3         3       thistletown-beaumond%20heights
4         4                      rexdale-kipling
..      ...                                  ...
136     136                          west%20hill
137     137                               woburn
138     138                      eglinton%20east
139     139                scarborough%20village
140     140                            guildwood

[141 rows x 2 columns]

In [19]:
for place in hoods_df['neighbourhood name']:
#     print(place)
#     print(base+place+params+str(page))
    while page <= 10:
        try:
            cbc = base+place+params+str(page)            
            response = urlopen(cbc)
            data = json.loads(response.read())
            for n in data:            
                news_dtl['id'] = n['id']
                news_dtl['title'] = n['title']
                news_dtl['date'] = n['publishtime']
                news_dtl['neighbourhood'] = place
                news_dtl['desc'] = n['description']
                news_dtl['image'] = n['dominantimage']                
                news_dtl['url'] = n['url']
                cbc_df.loc[len(cbc_df)] = news_dtl
            page += 1
        except:
            page += 1
            continue        
    page = 1

In [20]:
len(cbc_df)
cbc_df.head(10)

1591

In [21]:
cbc_df.drop_duplicates('id')
len(cbc_df)

1591

In [22]:
cbc_df.to_csv('cbc_murders.csv', index=None, header=True)